/* Global */
body {
	font-family: 'Quicksand', sans-serif;
	font-weight:400;
	font-size:1em;
	color:#8a8683;
	background-color:#FFFFFF;
}

img { max-width: 100%; }

h1, h2, h3 {
	text-align: center;
}

a:link, a:hover, a:visited {
	text-decoration: none;
}

/* Fonts */
@font-face{
	font-family:Goat;
	src:url(goat.ttf);
}

/* Navigation */
/*.menu{
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
}
.goat{
	font-family:Goat, sans-serif;
	font-size:2em;
	font-weight:0;
	color:rgba(0,0,0,0.7);
	padding-top:0.3em;
}
nav{
	text-align:right;
}
.navigation{
	float:right;
	list-style:none;
	margin:0;
}
.navigation li{
	float:left;
	padding:1em;
	font-size:1em;
	text-transform:uppercase;
}
.navigation li:hover{
	cursor:pointer;
	background-color:rgba(0,0,0,0.7);
	color:#FE8500;
}
.navigation .active{
	cursor:pointer;
	background-color:rgba(0,0,0,0.7);
	color:#FFFFFF;
}*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* General Slide */ 
.slide{
	background-attachment:fixed;
	width:100%;
	height:auto;
	position:relative;
	padding:70px 0;
}


/* Slide 1 */ 
#slide1{
	background: url(../images/cover.JPG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#000000;
	height: 100vh;
	text-align: center;
	padding: 0px;
}
	#slide1 h1{
		font-size: 8em;
		padding-top: -8em;
		line-height: 0;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: 'Voltaire', sans-serif;
	}

	#slide1 h2{
		font-size: 2em;
		font-weight: 400;
	}

	#jollygoat{
		width: 28%;
		line-height: 0;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	#slide1 h2.smile {
		font-size: 4em;
		font-weight: 400;
		color: yellow;	
		display: inline-block;
		padding-left: 0.3em;
	}



/* Slide 2 */ 
#slide2{
	background-color: #000000;
	color: #FFFFFF;
}
#slide2 h2 {
	font-size: 4em;
	font-family: 'Voltaire', sans-serif;
	text-transform: uppercase;
}
#slide2 h3 {
	font-size: 2em;
	font-weight: 400;
	padding: 0.5em 0em;
}
	#thestory {
		text-align: justify;
	}
		#thestory a {
			color: #FFFFFF;
			border-bottom: 2px solid #FFFFFF;
		}
			#thestory a:hover {
				border-bottom: 2px solid transparent;
			}

	/* Team Pictures */
	.row{
		margin-left:2%;
	}
	[class*="span"]{
		display:inline;
		float:left;
		margin-left:3%;
	}
	.clearfix:before,.clearfix:after{
		content:"";
		display:table;
	}
		.clearfix:after{
			clear:both;
		}
		.clearfix{
			zoom:1;
		}
	.span-one-half{
		padding-top: 2em;
		text-align: center;
	}
		@media only screen and (min-width:850px){
			.span-one-half{
				width:45%;
			}
		}

	.circular {
	    background-repeat: no-repeat;
	    background-position: 25%;
	    border-radius: 50%;
	    width: 300px;
	    height: 300px;
	    padding: 1em;
	    display: inline-block;
	    text-align: center;
	}
		#jus { background-image: url(../images/jus.png); }
		#jer { background-image: url(../images/jer.png); }

	.namelink {
		padding-top: 0.5em;
	}
		.namelink a {
			color: #ffffff;
			background: #994600;
			padding: 0.3em 0.5em;
			border-bottom: none;
			text-transform: uppercase;
			font-family: 'Voltaire', sans-serif;
		}
			.namelink a:hover{
				border-bottom: 2px solid #FFFFFF;
			}



/* Slide 3 */ 
#slide3{
	background-color:#FFFFFF;
	color: #000000;
}
#slide3 h2{
	font-size: 4em;
	font-family: 'Voltaire', sans-serif;
	text-transform: uppercase;
}

#slide3 h3{
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */
#slide4{
	background: #994600;
	color: #FFFFFF;
}

#slide4 h2 {
	font-size: 4em;
	color:#ffffff;
	font-family: 'Voltaire', sans-serif;
	text-transform: uppercase;
}

#slide4 h3 {
	font-size: 2em;
	color: #ffffff;
	font-weight: 400;
}

	/* Form */
	form {
		width: 100%;
		padding-top: 3em;
	}

		input, textarea {
			font-family: 'Quicksand', sans-serif;
			font-size: 1.2em;
			font-weight: 400;
			color: #000000;
			display: inline-block;
			padding: 1em 5%;
			margin: 0.5em 0em;
			min-width: 90%;
			border: none;
			box-sizing:content-box;
			-ms-box-sizing:content-box;
			-moz-box-sizing:content-box;
			-webkit-box-sizing:content-box;
		}

			input:focus, textarea:focus {
				outline: none;
			}

			.submitbutton {
				font-family: 'Voltaire', sans-serif;
				background-color: #000000;
				color: #FFFFFF;
				text-transform: uppercase;
				cursor: pointer;
				text-align: center;
				padding: 0.5em 5%;
				font-size: 1.5em;
				border-bottom: 2px solid transparent;
			}
				.submitbutton:hover {
					border-bottom: 2px solid #FFFFFF;
				}

	#thankYou {	display: none; }

		#thankYou p {
			font-size: 1.2em;
			color: #FFFFFF;
			padding-top: 0.5em;
			text-align: center;
		}

	@media only screen and (min-width:800px) {
		textarea{width:30em;}
		.formtext{width:30em;}
	}

	@media only screen and (max-width:800px) {
		textarea{width:25em;}
		.formtext{width:25em;}
	}

	@media only screen and (max-width:425px){
		textarea{width:14em;}
		.formtext{width:14em;}
	}



/* Footer */
footer {
	font-family: 'Voltaire', sans-serif;
	text-align: center;
	padding: 3em 0em;
	background: #994600;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 1.7em;
}



/* Tablet */
@media screen and (max-width: 1024px) {
	nav{
		width:100%;
		text-align:center;
		margin:10px 0;
	}
	.goat{
		display:block;
		text-align:center;
	}
	.navigation{
		width:100%;
		float:center;
		list-style:none;
		margin:0;
		padding:0;
	}
	.navigation li{
		float:left;
		width:25%;
		padding:0;
	}
	.slide{
		background-attachment:fixed;
		width:100%;
		position:relative;
		padding:150px 0;
	}
	#decorative{
		display:none;
	}
	#content{
		text-align:center;
		width:100%;
	}
	#slide1 h1{
		line-height:1em;
	}
	#slide1 h2{
		line-height:1em;
	}
	#slide2 h1{
		line-height:1em;
	}
	#slide2 h2{
		line-height:1em;
	}
	#slide3 h1{
		line-height:1em;
	}
	#slide3 h2{
		line-height:1em;
	}
	#slide4 h1{
		line-height:1em;
	}
	#slide4 h2{
		line-height:1em;
	}

	[class*="span"]{
		float:none;
	}
}



/* Mobile */
@media screen and (max-width:480px){
	nav{
		width:100%;
		margin:5px 0;
	}
	.navigation{
		width:100%;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
	}
	.navigation li{
		float:left;
		width:25%;
	}
	.slide{
		background-attachment:fixed;
		width:100%;
		position:relative;
		padding:150px 0;
	}
	#slide1 h1 {
		line-height:1em;
		font-size: 5em;
		margin: 0;
		margin-bottom: 1em;
	}

	#jollygoat {
		width: 50%;
		margin-top: 2em;
	}
	#slide1 h2 {
		line-height:1em;
	}
	#slide2 h1 {
		line-height:1em;
	}
	#slide2 h2 {
		font-size:1.5em;
		line-height:1em;
	}
	#slide3 h1 {
		line-height:1em;
	}
	#slide3 h2 {
		line-height:1em;
	}
	#slide4 h1 {
		line-height:1em;
	}
	#slide4 h2 {
		line-height:1em;
	}
	footer {
		font-size:0.9em;
	}

	#thestory {
		text-align: center;
	}
}